<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/skeleton.css">
        <title>Budget App</title>
    </head>
    <body>
        <div class="container">
            <h1>Retirement</h1>
            <a class="button" href="/budgtr/">Back</a>
            <h6><strong>Date</strong></h6>
                <li><%= budget.date %></li>
            <h6><strong>Name</strong></h6>
                <li><%= budget.name %></li>
            <h6><strong>From</strong></h6>
                <li><%= budget.from %></li>
            <h6><strong>Amount</strong></h6>
                <li><%= budget.amount %></li>
            <h6><strong>Tags</strong></h6>
                <li><%= budget.tags %></li>
        </div>

    </body>
</html>
